{% extends 'base.html' %}
{% block body %}
<div style="text-align:center">
<h2>{{header}}</h2>
</div>
<div class="graph" style="text-align:center">
<iframe src="{{ tab_obj }}" height="700" width="985"></iframe>
</div>

<div class="store" style="margin-top:10%; margin-left: 46%;"> 
 <a href="https://play.google.com/"> 
 {% load static %} 
 <img border="0" alt="playstore" src="{% static "images/Capture1.png" %}" width="50" height="50">
 </a> 
 <a>&nbsp;</a> 
 <a href="https://www.apple.com/ios/app-store/"> 
 {% load static %} 
 <img border="0" alt="playstore" src="{% static "images/Capture3.png" %}" width="50" height="50">
 </a> 
 </div>
{% endblock %}