<!doctype html>
{% extends 'base.html' %}
{% block body %}	
<div style="text-align: center; padding-top: 6%;">

<h2 > UPCOMING EVENTS </h2>
</div>


   <!-- <div class="gallery1"><p class="upcoming"><strong><h2 style="padding-left:40%">UPCOMING EVENTS</h2></strong></p> -->
<div class="card" style="text-align:center; width:80%; padding-left:150px" >
  <div class="thumbnail"> 
  <a href="http://icrs2020dublin.ucd.ie/Sub/About.html" target="blank">
  {% load static %}
<img src="{% static "images/1.PNG" %}" alt="" width="428"  class="cards" style="
    height: 200px;"/></a>
   <h4>DUBLIN WATER POLLUTION</br> CONFERENCE </h4>
   <p class="tag">The Button factory </p>
   <p class="text_column">icRS 2020 aims to provide rich opportunities for collaboration between researchers and industrial practitioners in order to advance the critical role of resources in CE</p>
 </div>
	
 <div class="thumbnail"> 
 <a href="https://airqualitynews.com/event/national-air-quality-conference-12th-november-2019/" target="blank">
 {% load static %}
 <img src="{% static "images/2.jpg" %}" alt="" width="1200" class="cards" style="
    height: 200px;"/></a>
   <h4>LONDON AIR POLLUTION</br> CONFERENCE</h4>
   <p class="tag">Slough</p>
   <p class="text_column">The National Air Quality News Conference explores some of the issues and the possible solutions to the increasing levels of toxic air in our communities.</p>
<br>
 </div>
	
 <div class="thumbnail"> 
 <a href="https://unfccc.int/cop25" target="blank">
 {% load static %}
 <img src="{% static "images/3.jpg" %}" alt="" width="900" class="cards" style="
    height: 200px;"/></a>
   <h4>MADRID CLIMATE CHANGE</br> CONFERENCE</h4>
   <p class="tag">Convention Centre</p>
   <p class="text_column">The UN Climate Change Conference COP 25 will take place under the Presidency of the Government of Chile and will be held with logistical support from the Government</p>
 </div>
	
 <div class="thumbnail"> 
 <a href="https://galwaybayfm.ie/galway-bay-fm-news-desk/nui-galway-to-host-major-conference-on-air-pollution/" target="blank">
 {% load static %}
 <img src="{% static "images/4.jpg" %}" alt="" width="790" class="cards" style="
    height: 200px;"/></a>
   <h4>GALWAY GREEN HOUSE EFFECT CONFERENCE</h4>
   <p class="tag"> Stadium</p>
   <p class="text_column">The conference will cover topics such as controlling air pollution, mitigating greenhouse gases as well producing and upgrading biofuels, over 80 researchers will gather.</p>
	
</div>	
</div>

<div class="store" style="margin-top:39%; margin-left: 46%;"> 
 <a href="https://play.google.com/"> 
 {% load static %} 
 <img border="0" alt="playstore" src="{% static 'images/Capture1.PNG' %}" width="50" height="50">
 </a> 
 <a>&nbsp;</a> 
 <a href="https://www.apple.com/ios/app-store/"> 
 {% load static %} 
 <img border="0" alt="playstore" src="{% static 'images/Capture3.PNG' %}" width="50" height="50">
 </a> 
 </div>

{% endblock %}
<!-- Main Container Ends -->
